/* Full Page Sizing */
html {
    height: 100%;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    
}

:root{
    --width:3;
    --height:3;
}

/* Left Side Panel Styling */
.wrapper {
    display: flex;
    width: 95%;
}

#content {
    flex-grow: 1;
}

#sidebarCollapseDiv {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -20px;
    top: 20px;
    opacity: 0;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 35px;
    height: 35px;
    background-color: #2b5797;
    border-radius: 0px 10px 10px 0px;
}
#sidebarCollapse img {
    margin: -5px 0px 0px -3px;
    width: 15px;
    height: 20px;
    transition: all 0.3s;
}
#sidebar.active + #content #sidebarCollapseDiv #sidebarCollapse img {
    transform: rotate(180deg);
}

#sidebarCollapseTop {
    width: 15px;
    height: 15px;
    background-color: #2b5797;
}
#sidebarCollapseTop div {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 0px 0px 0px 15px;
}

#sidebarCollapseBot {
    width: 15px;
    height: 15px;
    background-color: #2b5797;
}
#sidebarCollapseBot div {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 15px 0px 0px 0px;
}

#sidebar {
    margin: 20px;
    top: 0;
    left: 0;
    height: 95vh;
    z-index: 999;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.3s;
    font-family: 'Play';
    background: #CCD6DD;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    color: #2b5797;
}

#sidebar.active {
    /* margin-left: -300px; *//* Disable hiding of sidebar in large mode */
}

@media (max-width: 576px) {
    #sidebar {
        margin: 0px;
        border-radius: 0px 5px 5px 0px;
        height: 100vh;
        min-width: 160px;
        max-width: 160px;
    }

    #sidebar.active {
        margin-left: -160px;
    }

    .tighten-down-xs {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .center-xs {
        text-align: center;
    }

    #sidebarCollapseDiv {
        left: 0px;
        opacity: 1;
    }
}

#sidebar-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.sidebar-subheader {
    margin-top: 25px;
    margin-bottom: 5px;
}

.row.full-width {
    margin-left: 0px;
    margin-right: 0px;
}

.container-fluid.full-width, .col.full-width {
    padding-left: 0px;
    padding-right: 0px;
}

.col.tight {
    padding-left: 5px;
    padding-right: 5px;
}

.btn {
	border: 2px solid black;
	background-color: #4285F4;
	color: black;
	padding: 5px 10px;
	cursor: pointer;
	padding: 10px;
	font-family: 'Play';
}

.default-cursor{
	cursor: default;
}

.blue{
	border-color: #4285F4;
	color: white;
	border-radius: 5px;
}

.blue:hover{
	background-color: #55ACEE;
	color: white;
	border-color: #55ACEE; 
}

.color-btn{
	background-color: currentColor;
	color: currentColor;
	background: none;
	padding: 0px;
	cursor: pointer;
	border-radius: 5px;
	width: 60px;
	height: 60px;
	position: absolute;
  	right: -8px;
  	top: -8px;
}

.ui-container{
	display: grid;
	grid-auto-columns: auto auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	padding: 10px;
}

.text-box{
	width: 75%;
	padding: 5px;
	text-align: center;
	background-color: #E1E8ED;
	border-radius: 5px;
	border: none;
	color: #66757F;
	font-family: 'Play';
	font-size: 20px;
}

.text-box:hover{
	background-color: #eaeff2;
}

.text-box:focus{
	background-color: #eaeff2;
}

.input-color-container {
  position: relative;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

/* Header Styles */
.small-head{
	font-family: 'Play';
	color: #2b5797;
	font-size: 15px;
}

.big-head{
	font-family: 'Play';
	color: #2b5797;
	font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:focus {outline: 0;}
input:focus{outline: 0;}


/* Maze Grid Layout and Design Specifications */
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 1000px;
    margin-top: -65px; 
}
.grid-container{
  display: table;
  max-width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0%;
}

.tile {
  background-color: white;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 5px;
}
.tile:hover{
	cursor: crosshair;
}

.paint {
  text-align: center;
  width: 50px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
  vertical-align: top;
}
.paint-color{
  background-color: black;
  width: 50px;
  height: 30px;
  border: 2px solid black;
}

/* Custom Checkboxes */
.check-container{
    margin-top: 2px;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.check-container input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.check-box{
	height: 20px;
	width: 20px;
	background-color: #E1E8ED;
}

.check-box:hover{
	background-color: #eaeff2;
}

.check-container input:checked ~ .check-box{
	background-color: #2196F3;
}

.check-box:after{
	content: "";
	position: absolute;
	display: none;
}

.check-container input:checked ~ .check-box:after{
	display:block;
}

.check-container .check-box:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #2b5797;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}